
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&family=Ubuntu:wght@300&display=swap');

:root{
    --cor0:#F2F2F2;
    --cor1:#1675F2;
    --cor2:#000000;
    --fonte:'Roboto', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--cor0);
}

/*Nav Menu*/

.menu{
    background-color: var(--cor0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 16px;
    position: fixed;
    top: 0;
    width: 100%;
}
.menu a.logo{
    color:var(--cor2);
    font-family: var(--fonte);
    font-size: 30px;
}
span.logop2{
    color: var(--cor1);
    font-family: var(--fonte);
    margin-left: -9px;
}
.checkbtn {
	font-size: 25px;
	color: var(--cor1);
	float: right;
	line-height: 80px;
	cursor: pointer;
	display: none;
}
.checkbtn .icone{
    padding-top: 7px ;
}
#check{
    display: none;
}
.menu .links-menu ul{
    display: flex;
    gap: 54px;
    padding: 5px;
}
.menu .links-menu .menu-link {
    color: var(--cor2);
    font-family: var(--fonte);
    font-weight: 500;
    font-size: 15px;
}
.menu .links-menu .menu-link:hover{
    color: var(--cor1);
}

/*Header Home*/

.home{
    font-family: var(--fonte);
    margin-top: 12rem;
    margin-bottom: 8rem;
}
.home .home-icons{
    color: var(--cor1);
    display: flex;
    flex-direction: column;
    gap: 13px;
    font-size: 20px;
}

.home .home-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.home .home-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.home-principal-escrito h1{
    color: var(--cor2);
    font-size: 50px;
}
.home-principal-escrito h2{
    color: #00000088;
}
.home-principal-escrito p{
    max-width: 300px;
    color: #00000088;
}
.home-principal img{
    height: 300px;
    width: 350px;
}
.home-principal-botao{
    background-color: var(--cor1);
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    height: 55px;
    width: 130px;
    border: 0px;
    border-radius: 10px;
}
.home-principal-botao a{
    color: white;
}

.home-principal-botao:hover{
    background-color: #000000;
}

/*Sessão Sobre*/

.sobre{
    margin-bottom:140px;
}
.sobre .titulo-sobre{
    text-align: center;
    font-size: 40px;
}
.subtitulo-sobre{
    font-family: var(--fonte);
    font-size: 15px;
    font-weight: lighter;
    color: #00000088;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 60px;
}
.sobre .sobre-content{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.sobre .sobre-content .column-left{
    margin-left: auto;
    padding-right: 40px;
}
.sobre .sobre-content .column-left .img-sobre{
    height: 280px;
    width: 350px;
    border-radius: 5px;
}
.sobre .sobre-content .column-rigth{
    max-width: 500px;
    line-height: 1.5em;
    margin-right: auto;
    padding-left: 40px;
}
.sobre .sobre-content .column-rigth .texto{
    color: #00000088;
}
.sobre .sobre-content .column-rigth p{
    color: #00000088;
    padding-bottom: 25px;
}
.sobre .sobre-content .column-rigth span{
    color: var(--cor1);
    font-weight: bold;
}
.sobre .sobre-content .column-rigth button {
    background-color: var(--cor1);
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    height: 55px;
    width: 130px;
    border: 0px;
    border-radius: 10px;
}
.sobre .sobre-content .column-rigth button a{
    color: white;
}
.sobre .sobre-content .column-rigth button:hover{
    background-color: #000000;
}
/*Sessão Habilidades*/

.titulo-habilidades{
    text-align: center;
    font-size: 40px;
}
.subtitulo-habilidades{
    font-family: var(--fonte);
    font-size: 15px;
    font-weight: lighter;
    color: #00000088;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 60px;
}
.habilidades{
    margin-bottom: 140px;
}
.habilidades-contet{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    margin-bottom: 25px;
}
.habilidades-contet .front-end{
    margin-left:auto;
}
.habilidades-contet .front-end h3{
    padding-bottom: 10px;
}
.habilidades-contet .back-end{
    margin-right:auto ;
}
.habilidades-contet .back-end h3{
    padding-bottom: 10px;
}
#padding{
    padding: 10px;
}
.habilidades-contet .front-end .skill-1 p{
    font-size: 18px;
    color: #00000088;
    padding: 5px;
}
.habilidades-contet .front-end .skill-1 span{
    float: inline-end;
}
.habilidades-contet .front-end .skill-1 .porcetagem-fora{
    background-color: #1675f273;
    height: 6px;
    border-radius: 30px;
    width: 300px;
}
.habilidades-contet .front-end .skill-1 .porcetagem{
    width: 90%;
    height: 6px;
    border-radius: 30px;
    background:var(--cor1) ;
}
.habilidades-contet .front-end .skill-2 p{
    font-family: var(--fonte);
    font-size: 18px;
    color: #00000088;
    padding:5px;
}
.habilidades-contet .front-end .skill-2 span{
    float: inline-end;
}
.habilidades-contet .front-end .skill-2 .porcetagem-fora{
    background-color: #1675f273;
    height: 6px;
    border-radius: 30px;
}
.habilidades-contet .front-end .skill-2 .porcetagem{
    width: 85%;
    height: 6px;
    border-radius: 30px;
    background:var(--cor1) ;
}
.habilidades-contet .front-end .skill-3 p{
    font-family: var(--fonte);
    font-size: 18px;
    font-weight: 400;
    padding: 5px;
}
.habilidades-contet .front-end .skill-3 span{
    float: inline-end;
}
.habilidades-contet .front-end .skill-3 .porcetagem-fora{
    background-color: #1675f273;
    height: 6px;
    border-radius: 30px;
}
.habilidades-contet .front-end .skill-3 .porcetagem{
    width: 70%;
    height: 6px;
    border-radius: 30px;
    background:var(--cor1) 
}
.habilidades-contet .front-end .skill-4 p{
    font-size: 18px;
    color: #00000088;
    padding: 5px;
}
.habilidades-contet .front-end .skill-4 span{
    float: inline-end;
}
.habilidades-contet .front-end .skill-4 .porcetagem-fora{
    background-color: #1675f273;
    height: 6px;
    border-radius: 30px;
}
.habilidades-contet .front-end .skill-4 .porcetagem{
    width: 75%;
    height: 6px;
    border-radius: 30px;
    background:var(--cor1) 
}
.habilidades-contet .back-end .skill-1 p{
    font-size: 18px;
    color: #00000088;
    padding: 5px;
}
.habilidades-contet .back-end .skill-1 span{
    float: inline-end;
}
.habilidades-contet .back-end .skill-1 .porcetagem-fora{
    background-color: #1675f273;
    height: 6px;
    border-radius: 30px;
    width: 300px;
}
.habilidades-contet .back-end .skill-1 .porcetagem{
    width: 0%;
    height: 6px;
    border-radius: 30px;
    background:var(--cor1)
}
.habilidades-contet .back-end .skill-2 p{
    font-size: 18px;
    color: #00000088;
    padding: 5px;
}
.habilidades-contet .back-end .skill-2 span{
    float: inline-end;
}
.habilidades-contet .back-end .skill-2 .porcetagem-fora{
    background-color: #1675f273;
    height: 6px;
    border-radius: 30px;
}
.habilidades-contet .back-end .skill-2 .porcetagem{
    width: 0%;
    height: 6px;
    border-radius: 30px;
    background:var(--cor1);
}
.habilidades-contet .back-end .skill-3 p{
    font-size: 18px;
    color: #00000088;
    padding: 5px;
}
.habilidades-contet .back-end .skill-3 span{
    float: inline-end;
}
.habilidades-contet .back-end .skill-3 .porcetagem-fora{
    background-color: #1675f273;
    height: 6px;
    border-radius: 30px;
}
.habilidades-contet .back-end .skill-3 .porcetagem{
    width: 0%;
    height: 6px;
    border-radius: 30px;
    background:var(--cor1);
}
.habilidades-contet .back-end .skill-4 p{
    font-size: 18px;
    color: #00000088;
    padding: 5px;
}
.habilidades-contet .back-end .skill-4 span{
    float: inline-end;
}
.habilidades-contet .back-end .skill-4 .porcetagem-fora{
    background-color: #1675f273;
    height: 6px;
    border-radius: 30px;
}
.habilidades-contet .back-end .skill-4 .porcetagem{
    width: 0%;
    height: 6px;
    border-radius: 30px;
    background:var(--cor1);
}

/*Sessão Portifolio*/

.portifolio{
    margin-bottom: 140px;
}
.portifolio h1{
    text-align: center;
    font-size: 40px;
}
.portifolio h4{
    font-family: var(--fonte);
    font-size: 15px;
    font-weight: lighter;
    color: #00000088;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 60px;
}
.portifolio h4 a{
    color: var(--cor1);
}
.portifolio h4 a i{
    font-size: 12px;
    font-weight: 600;
}
.portifolio-content{
    display: flex;
    justify-content: center;
}
.portifolio-content .projeto1{
    background-image: url('imagens/sobreimg.jpg');
    background-size: cover;
    width: 300px;
    height: 300px;
}
.portifolio-content .projeto2{
    background-image: url('imagens/projeto2.jpg');
    background-size: cover;
    background-position: center center ;
    width: 300px;
    height: 300px;
}
.portifolio-content .projeto3{
    background-image: url('imagens/projeto3.jpg');
    background-size: cover;
    width: 300px;
    height: 300px;
}

/*Sessão Contato*/

.contato{
    margin-bottom: 140px;
}
.contato h1{
    text-align: center;
    font-size: 40px;
}
.contato h4{
    font-family: var(--fonte);
    font-size: 15px;
    font-weight: lighter;
    color: #00000088;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 60px;
}
.contatos-content{
    display: flex;
    justify-content: space-around;
}
.contato-information{
    display: flex;
    margin-bottom: 2rem;
}
.auto{
    margin-left: auto;
    padding-right: 40px;
}
.contato-information i{
    font-size: 30px;
    color: var(--cor1);
    padding: 10px 20px ;
}
.contato-information h3{
    font-family: var(--fonte);
    font-size: 15px;
    font-weight: lighter;
    color: #00000088;
    text-align: center;
    padding-top: 5px;
}
form{
    margin-right: auto;
}
.cliente{
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}
.cliente .contato-cliente{
    background-color: #1675f22f;
    padding:10px 0 0 16px;
    border-radius: 7px;
    border: 1px solid #ccc;
}
.cliente .contato-cliente label{
    font-family: var(--fonte);
    font-size: 13px;
}
.cliente .contato-cliente input{
    width: 100%;
    background-color: #1675f200;
    border: none;
    outline: none;
    padding:10px 0 10px;
}
.projeto{
    padding-bottom: 20px;
}
.projeto .contato-projeto{
    background-color: #1675f22f;
    padding:10px 0 0 16px;
    border-radius: 7px;
    border: 1px solid #ccc;
}
.projeto .contato-projeto label{
    font-family: var(--fonte);
    font-size: 13px;
}
.projeto .contato-projeto input{
    width: 100%;
    background-color: #1675f200;
    border: none;
    outline: none;
    padding:10px 0 10px;
}
.mensagem .contato-mensagem{
    background-color: #1675f22f;
    padding:10px 0 0 16px;
    border-radius: 7px;
    border: 1px solid #ccc;
}
.mensagem .contato-mensagem label{
    font-family: var(--fonte);
    font-size: 13px;
}
.mensagem .contato-mensagem input{
    width: 100%;
    background-color: #1675f200;
    border: none;
    outline: none;
    padding:10px 0 150px;
}
.envie{
    background-color: var(--cor1);
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    height: 53px;
    width: 130px;
    border: 0px;
    border-radius: 10px;
    margin-top: 20px;
    
}
.envie i{
    padding-left: 5px;
}
.envie:hover{
    background-color: #000000;
}

/*Rodapé*/

.rodape{
    background-color: var(--cor1);
    color: white;
    padding-bottom: 2rem;
}
.rodape .rodape-man{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 150px;
   padding-top:50px;
}
.rodape .texto-rodape span{
    font-size: 42px;
    font-weight: bold;
}
.rodape .texto-rodape h2{
    font-size: 13px;
}
.rodape .rodape-man .icons-rodape{
    display: flex;
    gap: 16px;
    font-size: 20px;
}
.rodape .rodape-man .icons-rodape a{
    color: white;
}
.rodape .rodape-man .rodape-menu ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.rodape .rodape-man .rodape-menu ul a{
    color: white;
}
.rodape .rodape-paragrafo{
    text-align: center;
    margin-top:60px;
}
.rodape .rodape-paragrafo p{
    font-size: 14px;
}




/*Responsive page*/

@media (max-width: 853px){

    .menu a.logo{
        font-size: 23px;
    }
    .menu span.logop2{
        font-size: 25px;
    }
	.checkbtn {
		display: block;
	}
    .checkbtn .icone{
        display: flex;
        font-size: 19px;
        margin-left: 210px;
    }
    #check:checked ~ .links-menu ul {
		left: 0;
	}
	.links-menu ul{
        display: flex;
        flex-direction: column;
        position: absolute;
		width: 100%;
		height: 100vh;
		background:var(--cor0);
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	.menu .links-menu .menu-link{
		font-size: 16px;
	}
	ul a:hover{
		background: none;
		color: var(--cor1);
	}
    .home .home-icons{
       display: flex;
       align-items: flex-start;
    }

    .home-principal img{
        margin-left: -50px;
    }

    .home .home-principal{
        display: flex;
        flex-direction: column-reverse;
    }
    .home .home-principal-escrito{
        display:flex;
        gap: 20px;
        margin-left: -46px;
        text-align: justify;
    }
    .sobre .sobre-content{
        display: flex;
        flex-direction: column;
    }
    .sobre .sobre-content .column-left {
       padding: 0;
       margin: 0 auto ;
    }
    .sobre .sobre-content .column-rigth{
        text-align: center;
        padding: 20px;
    }
    .habilidades-contet{
        display: flex;
        flex-direction: column;
    }
    .habilidades-contet .front-end{
        margin: 0;
    }
    .habilidades-contet .back-end{
        margin: 0;
    }
}