@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&family=Ubuntu:wght@300&display=swap');

:root{
    --cor1:#05213a;
    --cor2:#090b0d;
    --cor3:#023059;
    --cor4:#D9BA1E;
    --fontetexto:'Ubuntu',sans-serif;
    --fontetitulo:'Roboto', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav.menu{
    background-color: var(--cor2);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 16px;
}

div.links-menu{
    display: flex;
    gap: 54px;
    padding: 5px;
}

a.logo{
    color:white;
    font-family: var(--fontetitulo);
    font-size: 30px;
}

span.logop2{
    color: var(--cor4);
    font-family: var(--fontetexto);
    margin-left: -9px;
}

a.menu-link{
    color: white;
    font-family: var(--fontetitulo);
    font-weight: 400;
    font-size: 15px;
}

header.home{
    display: flex;
    justify-content: center;
    background-image: url('imagens/img2.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    font-family: var(--fontetitulo);
    color: #ffffff;
    min-height: 500px;
}

.home .max-whidth{
    margin: auto 0 auto 48px;
}

.home .home-content .text-1{
    font-size: 27px;
    font-family: var(--fontetexto);
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 400;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-family: var(--fontetexto);
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: var(--cor4);
    font-weight: 600;
}

div.butao{
    padding-top: 10px;
}

button.butao-home{
    background-color: var(--cor4);
    height: 35px;
    width: 120px;
    border: 0px;
    border-radius: 10px;
}

section.sobre{
    height: 400px;
}

.titulo-sobre{
    padding: 20px;
    text-align: center;
}

.max-whidth-sobre{
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.subtitulo-sobre{
    padding: 0px 0px 60px 0px;
    text-align: center;
}

.sobre-content{
    display: flex;
}

.paragrafo-sobre{
    padding-top: 30px;
    text-align: justify;
}

footer.rodape{
    background-color:var(--cor2);
    height: 30px;
}

.rodape > p{
    font-family: var(--fontetitulo);
    text-align: center;
    color: white;
    padding: 5px 0px 5px 0px;
}

.rodape > p > a{
    font-family: var(--fontetitulo);
    color: var(--cor4);
}
