
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&family=Ubuntu:wght@300&display=swap');

:root{
    --cor0:#F2F2F2;
    --cor1:#1675F2;
    --cor2:#000000;
    --fonte:'Roboto', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--cor0);
}
#titulo{
    text-align: center;
    font-size: 40px;
}
#subtitulo{
    font-family: var(--fonte);
    font-size: 15px;
    font-weight: lighter;
    color: #00000088;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 60px;
}
.margin{
    margin-bottom:140px;
}

/*Nav Menu*/

.menu{
    background-color: var(--cor0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 16px;
    position: fixed;
    top: 0;
    width: 100%;
}
.menu a.logo{
    color:var(--cor2);
    font-family: var(--fonte);
    font-size: 30px;
}
span.logop2{
    color: var(--cor1);
    font-family: var(--fonte);
    margin-left: -9px;
}
.checkbtn {
	font-size: 25px;
	color: var(--cor1);
	float: right;
	line-height: 80px;
	cursor: pointer;
	display: none;
}
.checkbtn .icone{
    padding-top: 7px ;
}
#check{
    display: none;
}
.menu .links-menu ul{
    display: flex;
    gap: 54px;
    padding-top: 5px;
}
.menu .links-menu .menu-link {
    color: var(--cor2);
    font-family: var(--fonte);
    font-weight: 500;
    font-size: 15px;
}
.menu .links-menu .menu-link:hover{
    color: var(--cor1);
}

/*Header Home*/

.home{
    font-family: var(--fonte);
    margin-top: 12rem;
    margin-bottom: 8rem;
}
.home .home-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.home .home-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.home-principal-escrito h1{
    color: var(--cor2);
    font-size: 50px;
}
.home-principal-escrito h2{
    color: #00000088;
}
.home-principal-escrito p{
    max-width: 300px;
    color: #00000088;
}
.home-principal img{
    height: 300px;
    width: 350px;
}
.home-principal-botao{
    background-color: var(--cor1);
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    height: 55px;
    width: 130px;
    border: 0px;
    border-radius: 10px;
}
.home-principal-botao a{
    color: white;
}
.home-principal-botao i{
    text-align: center;
}
.home-principal-botao:hover{
    background-color: #0a0123;
}

/*Sessão Sobre*/

.sobre-content{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.column-left{
    margin-left: auto;
    padding-right: 40px;
}
.column-left .img-sobre{
    height: 280px;
    width: 350px;
    border-radius: 5px;
}
.column-rigth{
    max-width: 500px;
    line-height: 1.5em;
    margin-right: auto;
    padding-left: 40px;
}
.column-rigth .texto{
    color: #00000088;
}
.column-rigth p{
    color: #00000088;
    padding-bottom: 25px;
}
.column-rigth span{
    color: var(--cor1);
    font-weight: bold;
}
.column-rigth button {
    background-color: var(--cor1);
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    height: 55px;
    width: 130px;
    border: 0px;
    border-radius: 10px;
}
.column-rigth button a{
    color: white;
}
.column-rigth button:hover{
    background-color: #0a0123;
}

/*Sessão Habilidades*/

.habilidades-contet{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    margin-bottom: 25px;
}
#padding{
    padding: 10px;
}
.skill-parte1{
    margin-left:auto;
}
.skill-parte2{
    margin-right:auto ;
}
.skill-parte1 .skill-1 p{
    font-size: 18px;
    color: #00000088;
    padding: 5px;
}
.skill-parte1 .skill-1 span{
    float: inline-end;
}
.skill-parte1 .skill-1 .porcetagem-fora{
    background-color: #1675f273;
    height: 6px;
    border-radius: 30px;
    width: 300px;
}
.skill-parte1 .skill-1 .porcetagem{
    width: 90%;
    height: 6px;
    border-radius: 30px;
    background:var(--cor1) ;
}
.skill-parte1 .skill-2 p{
    font-family: var(--fonte);
    font-size: 18px;
    color: #00000088;
    padding:5px;
}
.skill-parte1 .skill-2 span{
    float: inline-end;
}
.skill-parte1 .skill-2 .porcetagem-fora{
    background-color: #1675f273;
    height: 6px;
    border-radius: 30px;
}
.skill-parte1 .skill-2 .porcetagem{
    width: 85%;
    height: 6px;
    border-radius: 30px;
    background:var(--cor1) ;
}
.skill-parte1 .skill-3 p{
    font-family: var(--fonte);
    color: #00000088;
    font-size: 18px;
    padding: 5px;
}
.skill-parte1 .skill-3 span{
    float: inline-end;
}
.skill-parte1 .skill-3 .porcetagem-fora{
    background-color: #1675f273;
    height: 6px;
    border-radius: 30px;
}
.skill-parte1 .skill-3 .porcetagem{
    width: 70%;
    height: 6px;
    border-radius: 30px;
    background:var(--cor1) 
}
.skill-parte1 .skill-4 p{
    font-size: 18px;
    color: #00000088;
    padding: 5px;
}
.skill-parte1 .skill-4 span{
    float: inline-end;
}
.skill-parte1 .skill-4 .porcetagem-fora{
    background-color: #1675f273;
    height: 6px;
    border-radius: 30px;
}
.skill-parte1 .skill-4 .porcetagem{
    width: 75%;
    height: 6px;
    border-radius: 30px;
    background:var(--cor1) 
}
.skill-parte2 .skill-1 p{
    font-size: 18px;
    color: #00000088;
    padding: 5px;
}
.skill-parte2 .skill-1 span{
    float: inline-end;
}
.skill-parte2 .skill-1 .porcetagem-fora{
    background-color: #1675f273;
    height: 6px;
    border-radius: 30px;
    width: 300px;
}
.skill-parte2 .skill-1 .porcetagem{
    width: 0%;
    height: 6px;
    border-radius: 30px;
    background:var(--cor1)
}
.skill-parte2 .skill-2 p{
    font-size: 18px;
    color: #00000088;
    padding: 5px;
}
.skill-parte2 .skill-2 span{
    float: inline-end;
}
.skill-parte2 .skill-2 .porcetagem-fora{
    background-color: #1675f273;
    height: 6px;
    border-radius: 30px;
}
.skill-parte2 .skill-2 .porcetagem{
    width: 0%;
    height: 6px;
    border-radius: 30px;
    background:var(--cor1);
}
.skill-parte2 .skill-3 p{
    font-size: 18px;
    color: #00000088;
    padding: 5px;
}
.back-end .skill-3 span{
    float: inline-end;
}
.skill-parte2 .skill-3 .porcetagem-fora{
    background-color: #1675f273;
    height: 6px;
    border-radius: 30px;
}
.skill-parte2 .skill-3 .porcetagem{
    width: 0%;
    height: 6px;
    border-radius: 30px;
    background:var(--cor1);
}
.skill-parte2 .skill-4 p{
    font-size: 18px;
    color: #00000088;
    padding: 5px;
}
.skill-parte2 .skill-4 span{
    float: inline-end;
}
.skill-parte2 .skill-4 .porcetagem-fora{
    background-color: #1675f273;
    height: 6px;
    border-radius: 30px;
}
.skill-parte2 .skill-4 .porcetagem{
    width: 0%;
    height: 6px;
    border-radius: 30px;
    background:var(--cor1);
}

/*Sessão Serviços*/

.servicos-content{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.servicos-conteiner{
    width: 250px;
    height: 250px;
    background-color: white;
    padding: 6rem 5rem 1.25rem 1.5rem;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}
.servicos-conteiner div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.servicos-conteiner div {
    color: var(--cor2);
}
#icone-serviços{
    color: var(--cor1);
    font-size: 25px;
}
#veja-mais{
    color: var(--cor1); 
}

/*Sessão Portifolio*/

#subtitulo a{
    color: var(--cor1);
}
#subtitulo a i{
    font-size: 12px;
    font-weight: 600;
}
.portifolio-content{
    display: flex;
    justify-content: center;
}
#portifolio p{
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
}
/*
.portifolio-content .projeto1{
    background-image: url('imagens/sobreimg.jpg');
    background-size: cover;
    width: 300px;
    height: 300px;
}
.portifolio-content .projeto2{
    background-image: url('imagens/projeto2.jpg');
    background-size: cover;
    background-position: center center ;
    width: 300px;
    height: 300px;
}
.portifolio-content .projeto3{
    background-image: url('imagens/projeto3.jpg');
    background-size: cover;
    width: 300px;
    height: 300px;
}
*/

/*Sessão Contato*/

.contatos-content{
    display: flex;
    justify-content: space-around;
}
.contato-information{
    display: flex;
    margin-bottom: 2rem;
}
.auto{
    margin-left: auto;
    padding-right: 40px;
}
.contato-information i{
    font-size: 30px;
    color: var(--cor1);
    padding: 10px 20px ;
}
.contato-information h3{
    font-family: var(--fonte);
    font-size: 15px;
    font-weight: lighter;
    color: #00000088;
    text-align: center;
    padding-top: 5px;
}
form{
    margin-right: auto;
}
.cliente{
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}
.cliente .contato-cliente{
    background-color: #1675f22f;
    padding:10px 0 0 16px;
    border-radius: 7px;
    border: 1px solid #ccc;
}
.cliente .contato-cliente label{
    font-family: var(--fonte);
    font-size: 13px;
}
.cliente .contato-cliente input{
    width: 100%;
    background-color: #1675f200;
    border: none;
    outline: none;
    padding:10px 0 10px;
}
.projeto{
    padding-bottom: 20px;
}
.projeto .contato-projeto{
    background-color: #1675f22f;
    padding:10px 0 0 16px;
    border-radius: 7px;
    border: 1px solid #ccc;
}
.projeto .contato-projeto label{
    font-family: var(--fonte);
    font-size: 13px;
}
.projeto .contato-projeto input{
    width: 100%;
    background-color: #1675f200;
    border: none;
    outline: none;
    padding:10px 0 10px;
}
.mensagem .contato-mensagem{
    background-color: #1675f22f;
    padding:10px 0 0 16px;
    border-radius: 7px;
    border: 1px solid #ccc;
}
.mensagem .contato-mensagem label{
    font-family: var(--fonte);
    font-size: 13px;
}
.mensagem .contato-mensagem input{
    width: 100%;
    background-color: #1675f200;
    border: none;
    outline: none;
    padding:10px 0 150px;
}
.envie{
    background-color: var(--cor1);
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    height: 53px;
    width: 130px;
    border: 0px;
    border-radius: 10px;
    margin-top: 20px;
    
}
.envie i{
    padding-left: 5px;
}
.envie:hover{
    background-color: #0a0123;
}

/*Rodapé*/

.rodape{
    background-color: var(--cor1);
    color: white;
    padding-bottom: 2rem;
}
.rodape .rodape-man{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 150px;
   padding-top:50px;
}
.rodape .texto-rodape span{
    font-size: 42px;
    font-weight: bold;
}
.rodape .texto-rodape h2{
    font-size: 13px;
}
.rodape .rodape-man .icons-rodape{
    display: flex;
    gap: 16px;
    font-size: 20px;
}
.rodape .rodape-man .icons-rodape a{
    color: white;
}
.rodape .rodape-man .rodape-menu ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.rodape .rodape-man .rodape-menu ul a{
    color: white;
}
.rodape .rodape-paragrafo{
    text-align: center;
    margin-top:60px;
}
.rodape .rodape-paragrafo p{
    font-size: 14px;
}




/*Responsive page*/

@media (max-width: 853px){
    #titulo{
        font-size: 30px;
    }
    #subtitulo{
        font-size: 13px;
    }
    .menu a.logo{
        font-size: 27px;
    }
    .menu span.logop2{
        font-size: 27px;
    }
	.checkbtn {
		display: block;
	}
    .checkbtn .icone{
        display: flex;
        font-size: 19px;
        margin-left: 210px;
    }
    #check:checked ~ .links-menu ul {
		left: 0;
	}
	.links-menu ul{
        display: flex;
        flex-direction: column;
        position: absolute;
		width: 100%;
		height: 100vh;
		background:var(--cor0);
		top: 54px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	.menu .links-menu .menu-link{
		font-size: 16px;
	}
	ul a:hover{
		background: none;
		color: var(--cor1);
	}
    .home-principal-escrito h1{
        font-size: 40px;
    }
    .home-principal-escrito h2{
        font-size: 20px;
    }
    .home-principal-escrito p{
        font-size: 15px;
    }
    .home-principal img{
        margin-bottom: 3rem;
    }

    .home .home-principal{
        display: flex;
        flex-direction: column-reverse;
    }
    .home .home-principal-escrito{
        display:flex;
        gap: 20px;
        margin-left: -46px;
        text-align: justify;
    }
    .sobre-content{
        display: flex;
        flex-direction: column;
    }
    .column-left {
       padding: 0;
       margin: 0 auto ;
    }
    .column-rigth{
        text-align: center;
        padding: 20px;
    }
    .habilidades-contet{
        display: flex;
        flex-direction: column;
    }
    .skill-parte1{
        margin: 0;
    }
    .skill-parte2{
        margin: 0;
    }
    .portifolio-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contato{
        margin-bottom: 100px;
    }
    .contatos-content{
        display: flex;
        flex-direction: column;
    }
    .cliente{
        display: flex;
        flex-direction: column;
    }
    form{
        margin-right: 0;
    }
   .auto{
       margin-left: 0;
       padding: 0;
       margin-bottom: 4rem;
    }
    .contato-information{
        font-size: 12px;
    }
    .inputs-contat{
        margin-left: 25px;
        margin-right: 25px;
    }
   .rodape .rodape-man{
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       margin-left: 20px;
       gap: 50px;
   }
   .servicos-content{
       display: flex;
       flex-direction:column;
       align-items: center;
   }
   
}
